<div class="page-content">
  <div class="main-card">
    <div class="card large-card">
      <% if @vinyl.image.present? %>
        <%= image_tag @vinyl.image, alt: @vinyl.name, class: "card-img-large" %>
      <% else %>
        <%= image_tag "proto_logo.png", alt: "Default image", class: "card-img-large" %>
      <% end %>
    </div>

  <div class="album-info">
      <h1><%= @vinyl.name %></h1>

      <% @vinyl.artists.each do |artist| %>
        <h2><%= artist.name %></h2>
      <% end %>

      <% if @vinyl.release_date.present? %>
        <p><strong>Year:</strong> <%= @vinyl.release_date %></p>
      <% end %>

      <% if @vinyl.price.present? %>
        <p><strong>Price:</strong> <%= @vinyl.price %>$</p>
      <% end %>


<div class="info-buttons">
    <% if @in_collection %>
        <%= button_to "Remove from Collection", match_path(@collection_match), method: :delete, class: "play-btn", data: { confirm: "Êtes-vous sûr ?" } %>
    <% else %>
        <%= button_to matches_path(vinyl_id: @vinyl.id, category: "collection"), method: :post, class: "play-btn" do %>
        + Add to Collection
        <% end %>
    <% end %>

    <% if @in_wishlist %>
        <%= button_to "Remove from Wishlist", match_path(@wishlist_match), method: :delete, class: "play-btn", data: { confirm: "Êtes-vous sûr ?" } %>
    <% else %>
        <% unless @in_collection %>
        <%= button_to matches_path(vinyl_id: @vinyl.id, category: "wishlist"), method: :post, class: "play-btn" do %>
            ♡ Add to Wishlist
            <% end %>
        <% end %>
    <% end %>
</div>

        <% if @vinyl.songs.present? %>
        <div class="mt-3">
          <p><strong>Tracklist:</strong></p>
          <ul style="color: #F0D060;">
            <% @vinyl.parsed_songs.each do |song| %>
              <li><%= song %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

  </div>
</div>

<div class="card-grid">
  <% 5.times do %>
<div class="card">
  <%= image_tag "proto_logo.png", alt: "Logo", class: "card-img" %>

  <div class="card-body">
    <h4><b>Album</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div>
<% end %>
  </div>
</div>
