<div class="collection-v1">
  <div class="page-header">
    <div class="header-left">
      <h1>My <span>Collection</span></h1>
      <div class="stats">
    <div class="stat">
        <span class="stat-value"><%= @collections.size %></span>
          <span class="stat-label">Vinyls</span>
        </div>
      <div class="stat">
          <span class="stat-value"><%= @match.total_value(@collections) %> €</span>
          <span class="stat-label">Estimated value</span>
        </div>
        <div class="stat">
          <span class="stat-value"><%= @match.total_artist(@collections) %></span>
          <span class="stat-label">Artistes</span>
        </div>
      </div>
    </div>
  </div>

  <div class="playlists-row">

    <div class="playlist-pill active">
      <span class="icon">📀</span>
      <span>All</span>
      <span class="count"><%= @collections.size %></span>
    </div>

   <% @playlists.each do |playlist| %>
      <div class="playlist-pill">
        <span class="icon">🎵</span>
        <span><%= playlist.name %></span>
        <span class="count"><%= @playlist_vinyl_counts[playlist.id] || 0%></span>
      </div>
    <% end %>

  </div>

  <div class="vinyl-grid">

    <% @collections.each do |collection| %>
      <div class="vinyl-card">
        <div class="cover">
          <% if collection.vinyl.image.present? %>
            <%= image_tag collection.vinyl.image, alt: collection.vinyl.name, class: "cover-image" %>
          <% end %>
          <% if collection.vinyl.price > 50 %>
            <span class="badge">Rare</span>
          <% end %>
          <div class="actions">
            <button class="action-btn playlist-btn">
              <span>+</span> Add to a playlist
            </button>
            <div class="actions-row">
              <%= link_to "Details", vinyl_path(collection.vinyl), class: "action-btn" %>
              <%= link_to "Remove", match_path(collection), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "action-btn" %>
            </div>
          </div>
        </div>
        <div class="info">
          <div class="title"><%= collection.vinyl.name %></div>
          <div class="artist">
            <% collection.vinyl.artists.each do |artist| %>
              <%= artist.name %>
            <% end %>
          </div>
          <div class="meta">
            <span class="price"><%= collection.vinyl.price %> €</span>
            <span class="year"><%= collection.vinyl.release_date %></span>
          </div>
        </div>
      </div>
      <% end %>
</div>
