<div class="rack" id="rack">

    <%= link_to vinyls_path, class: "vinyl-link" do %>
      <div class="vinyl" style="--i:0; background-image:url(<%= asset_path("avatar.png") %>)"></div>
    <% end %>
     <%= link_to vinyls_path, class: "vinyl-link" do %>
      <div class="vinyl" style="--i:1; background-image:url(<%= asset_path("avatar.png") %>)"></div>
    <% end %>
     <%= link_to vinyls_path, class: "vinyl-link" do %>
      <div class="vinyl" style="--i:2; background-image:url(<%= asset_path("avatar.png") %>)"></div>
    <% end %>
     <%= link_to vinyls_path, class: "vinyl-link" do %>
      <div class="vinyl" style="--i:3; background-image:url(<%= asset_path("avatar.png") %>)"></div>
    <% end %>
     <%= link_to vinyls_path, class: "vinyl-link" do %>
      <div class="vinyl" style="--i:4; background-image:url(<%= asset_path("avatar.png") %>)"></div>
    <% end %>
     <%= link_to vinyls_path, class: "vinyl-link" do %>
      <div class="vinyl" style="--i:5; background-image:url(<%= asset_path("avatar.png") %>)"></div>
    <% end %>
     <%= link_to vinyls_path, class: "vinyl-link" do %>
      <div class="vinyl" style="--i:6; background-image:url(<%= asset_path("avatar.png") %>)"></div>
    <% end %>


</div>
