<div class="wishlist-page">
  <div class="page-header">
    <h1>Your <span>Wishlist</span></h1>
    <% if @wishlists.present? %>
      <p><%= @wishlists.count %> vinyl<%= @wishlists.size > 1 ? "s" : "" %> worth €<%= number_with_precision(@wishlists.sum { |w| w.vinyl.price.to_f }, precision: 2) %></p>
    <% else %>
      <p>0 vinyls in your wishlist</p>
    <% end %>
  </div>

  <div class="vinyl-list">
    <% @wishlists.each do |wishlist| %>
      <div class="vinyl-item">
        <div class="cover" style="background-image: url('<%= wishlist.vinyl.image %>');"></div>
        <div class="info">
          <h4><%= wishlist.vinyl.name %></h4>
          <p class="artist">
            <% wishlist.vinyl.artists.each do |artist| %>
              <%= artist.name %>
            <% end %>
          </p>
          <p class="tracks">
            <%= wishlist.vinyl.parsed_songs.count rescue 0 %> tracks
            <% if wishlist.vinyl.release_date.present? %>
              • <%= wishlist.vinyl.release_date %>
            <% end %>
          </p>
        </div>
        <% if wishlist.vinyl.price.present? %>
          <div class="price"><%= wishlist.vinyl.price %> €</div>
        <% end %>
        <div class="actions">
          <%= link_to vinyl_path(wishlist.vinyl), class: "action-btn btn-details" do %>
            <i class="fa-solid fa-eye"></i>
          <% end %>
          <%= button_to match_path(wishlist), method: :delete, class: "action-btn btn-remove", data: { confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
