<div class="wrapper d-flex align-items-stretch m-3">
  <!-- Logo -->
  <div class="logo-box d-flex align-items-center justify-content-center">
    <%= image_tag "proto_logo.png", alt: "Logo", class: "logo-img" %>
  </div>

  <!-- Navbar -->
  <nav class="custom-navbar d-flex align-items-center flex-grow-1">
    <!-- Links à gauche -->
    <div class="d-flex gap-4 me-auto">
      <a href="#collection">My Collection</a>
      <a href="#wishlist">My Wishlist</a>
      <a href="#ai">AI assistant</a>
    </div>

    <!-- Search à droite -->
    <div class="d-flex gap-2">
      <%= form_with url: search_index_path, method: :get, class: "search-input d-flex" do %>
      <%= label_tag :query, "Search", class: "visually-hidden" %>
      <%= text_field_tag :query,
            params[:query],
            class: "search-input",
            placeholder: "Artist, Albums ..."
      %>
      <%= submit_tag "Search", name: "", class: "search-button" %>
    <% end %>

    <div class="avatar-box d-flex mx-3 align-items-center justify-content-center">
      <%= image_tag "avatar.png", alt: "avatar", class: "avatar-img" %>
    </div>
  </nav>
</div>
