  <div class="container chatbox">

  <div class="chat-layout">

    <!-- Sidebar -->
    <div class="chat-sidebar">
      <% current_user.chats.each do |chat| %>
        <ul class="ul">
          <li class="text-primary d-flex justify-content-between">
            <div><%= link_to chat.title, chat_path(chat), class: "chat" %></div>
            <div>
              <%= link_to chat_path(chat), data: { turbo_method: :delete, turbo_confirm: "Do you want to delete?" }, class: "btn-delete" do %>
                <i class="fa-regular fa-circle-xmark"></i>
              <% end %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>

    <!-- Main chat area -->
    <div class="chat-main">
      <h1 class="chat-title"><%= @chat.title %></h1>

      <div id="messages">
        <% @chat.messages.each do |message| %>
          <% if message.role == "user" %>
            <div class="d-flex justify-content-end my-2">
              <div class="bg-primary px-3 py-3 rounded-3">
                <%= message.content %>
              </div>
            </div>
          <% elsif message.role == "assistant" %>
            <div class="d-flex justify-content-start my-5">
              <div class="px-3 py-3 rounded-3 answer me">
                <%= message.content %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div id="new_message_container">
        <%= simple_form_for [@chat, @message] do |f| %>
          <div class="input-wrapper">
            <%= f.input :content, label: false, required: true,
                placeholder: "You can ask me anything related to vinyls",
                wrapper: false %>
            <%= f.button :submit, 'Ask VinylBot', class: 'btn-chat' %>
          </div>
        <% end %>
      </div>
    </div>

  </div>

</div>
